.name {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    align-items: center;
}
.list {
    font-family: 'Lato';
    background-image: url(assets/nordwood-themes-KcsKWw77Ovw-unsplash.jpg);
    color: #4B4237;
}
.paragraph {
   text-align: center;
   margin-left: 40px;
   margin-right: 40px;
}
.h1 {
    font-size: 40px;
    margin-left: 20px;
    margin-top: 50px;
}
