.name {
    display: flex;
    justify-content: flex-start; 
    margin-left: 100px;
    width: 150px;
    height: 150px;
}

.form {
    text-align: center;
}
#fname {
    height:30px;
    font-size:18pt;
}
#lname {
    height:30px;
    font-size:18pt;
}
#email {
    height:30px;
    font-size:18pt; 
}
#message {
    height:200px;
    font-size:18pt;
}
.text {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}