/* RESET RULE */
* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}
.site-heading {
    background-color: #A49694;
    color: #4B4237;
    padding: 25px;
}

.site-heading nav {
    margin-top: 10px;
    display: flex;
    font-family: 'Fira Sans';
    justify-content: flex-end;
}
.site-heading a {
    text-decoration: none;
    color: inherit;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.site-heading a:hover {
    font-size: 20px;
}

.hr {
    background-color: #4B4237;
    height: 3px;
}
.name {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    width: 150px;
    height: 150px;
}

.image {
    height: 70vh;
    width: 25vw;
    margin-top: 60px;
    border: #D5A021 solid 3px;
}

.introduction {
    margin-top: 150px;
    flex-wrap: wrap;
    font-size: 50px;
    font-family: 'Lato';
}

.background-intro {
    background-image: url(assets/nordwood-themes-KcsKWw77Ovw-unsplash.jpg);
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.tagline {
    margin-top: 20px;
    font-size: 24px;
    flex-wrap: wrap;
}