/* RESET RULE */
* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}
.site-heading {
    background-color: #A49694;
    color: #4B4237;
    padding: 25px;
}

.site-heading nav {
    margin-top: 10px;
    display: flex;
    font-family: 'Fira Sans';
    justify-content: flex-end;
}
.site-heading a {
    text-decoration: none;
    color: inherit;
    padding: 20px 50px;
}

.site-heading a:hover {
    font-size: 20px;
}

.hr {
    background-color: #4B4237;
    height: 3px;
}
.name {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    align-items: center;
}

.image {
    height: 70vh;
    margin-left: 100px;
    
    border: #D5A021 solid 3px;
}

.introduction {
    padding-top: 120px;
    font-size: 55px;
    font-family: 'Lato';
}

.background-intro {
    background-image: url(assets/nordwood-themes-KcsKWw77Ovw-unsplash.jpg);
    height: 90vh;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.tagline {
    margin-top: 20px;
    font-size: 28px;
    flex-wrap: wrap;
}
.skills {
    font-family: 'Fira Sans';
    font-size: 60px;
    display: flex;
    justify-content: center;
    color: #4B4237;
    background-color: #D5A021;
}
.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 200px;
    row-gap: 10px;
    background-image: url(assets/nordwood-themes-KcsKWw77Ovw-unsplash.jpg);
}
.row {
    padding: 0px 20px;
    margin-left: 250px;
    margin-top: 30px;
    text-align: center;
}
.skills-image {
    height: 30vh;
    width: 12vw;
}
.p {
    /* display: flex; */
    /* justify-content: space-between; */
}